body {
}
#app {
  margin: 0 auto;
  overflow-y: auto;
}
#main-pad, #final-pad, #fragment-results textarea, #temp-pad, #chat-context, #chat-pad, #user-code, #graph-results {
  font-family: monospace;
  font-size: 10px;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  padding:0px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  overflow: auto;
}
#load-name,
#load-pass {
  font-size: 10px;
  width: 49%; /* Adjusted width to 49% to account for any potential padding or border */
  height: auto;
  white-space: pre-wrap;
  padding: 0px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  overflow: auto;
  display: inline-block; /* Makes them sit side by side */
}
#main-pad {
  height: 50vh;
}
#user-code, #chat-context, #graph-results {
  height: 25vh;
}
#fragment-vertical {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
#chat-pad {
  height: 50vh;
}
#search-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#search-query {
  flex-grow: 1;
  margin-right: 10px;
}
#fragment-results {
  width: 69%;
  overflow: auto;
  border: 1px solid #ccc;
}
#temp-pad {
  width: 29%;
  position: sticky;
}
#debug {
  white-space: pre;
}
@media (max-width: 767px) {
  #app {
    width: 100%;
  }
  #fragment-vertical {
    flex-direction: column-reverse;
  }
  #fragment-results {
    height: 69%;
    width: 100%;
  }
  #temp-pad {
    height: 29%;
    width: 100%;
  }
}
details > summary {
  display: flex;
  align-items: center; 
}
details > summary h1 {
  margin-left: 10px;
}
details>summary::before{content:"▼";padding-right:.5em}
details[open]>summary::before{content:"▲"}
h1 {
  margin: 0;
}
